body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    margin: 0;
}

* {
    font-family: Poppins;
}

.container {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 350px;
}

.logo {
    width: 50px;
    display: block;
    margin-bottom: 10px;
}

.title {
    font-size: 21px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 600;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
}

p {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: #e60023;
  color: white;
}

.btn-cancel {
  background-color: #e0e0e0;
  color: black;
}
