* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    min-height: 100vh;
}

/* Navigation */

.logo {
    display: flex;
    align-items: center;
    height: 40px;
    width: auto;
    justify-content: start;
    margin-right: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    background: white;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Dropdown user */
.user-menu {
  position: relative;
  cursor: pointer;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  padding: 0.5rem 0;
}

.user-menu:hover .user-dropdown {
  display: block;
}

.user-icon{
background: none;
border: none;
cursor: pointer;
display: flex;
align-items: center;
border-radius: 50%;
}
.user-icon:hover{
background: #ededed;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    gap: 52px;
    font-size: 16px;
    list-style-type: none;
    margin-right: 20px;
    justify-content: start;
    margin-left: 0px;

}

.nav-links a{
    color: #333;
    list-style-type: none;
    text-decoration: none;
    font-weight: lighter;

}

  .user-icon img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: end;
    align-items: end;
  }

  /* Dropdown user */
  .sewakan-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2966CB;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    max-width: fit-content;
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .sewakan-button:hover{
    background-color: #3482ff;
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
  }

  .sewakan-button a{
    text-decoration: none;
  }

  .right-nav-items {
    display: flex;
    align-items: center;
    gap: 36px;
    flex-direction: row;
  }

  .container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 40px 100px;
    background: #FAFAFA;
    
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .upload-area {
  border: 1px solid #ccc;
  background-color: #FAFAFA;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 16px;
}

.upload-area input {
  display: none;
}

.upload-icon {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #aaa;
  transition: 0.3s;
}

.upload-area:hover .upload-icon {
  border-color: #888;
  color: #666;
}

.preview-img {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.input-group-kiri{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.input-group-kanan{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.nama-kos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.nama-kos label{
    text-wrap: nowrap;
}

#namakos{
    font-size: 16px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.kategori-kos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
}

.kategori-options label {
  border: 1px solid #ccc;
  background-color: #FAFAFA;
  color: #888;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  gap: 20px;
}

.kategori-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kategori-options input[type="radio"] {
  display: none;
}

.kategori-options label:has(input:checked) {
  background-color: #2966CB;
  border: #2966CB;
  color: #ffffff;
}

.alamat-kos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.alamat-kos label{
    text-wrap: wrap;
}

#alamatkos{
    font-size: 16px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 23px;
    align-items: start;
    text-wrap: wrap;
    overflow: hidden;
}

.harga-kos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#hargakos{
  font-size: 16px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 32px;
}

.fasilitas-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fasilitas-item-container {
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(5, auto); /* 3 kolom */
    flex: 1;
    margin-left: 5px;
  }

.label-fasilitas-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}


  .fasilitas-item input[type="checkbox"] {
  display: none;
}

#fasilitas-item input{
  align-items: center;
  text-align: center;
  
}

.fasilitas-item input:checked + span {
  background-color: #2966CB;
  color: white;
  border-color: #2966CB;
}

.fasilitas-item span {
  display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 30px;
    cursor: pointer;
    margin-left: 19px;
    gap: 5px;
    transition: all 0.2s;
    flex: 1;
    color: #888;
}

.peraturan-kos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#peraturankos{
    font-size: 16px;
    background-color: #FAFAFA;
    border: 1px solid #ccc;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9px;
    align-items: start;
    text-wrap: wrap;
    overflow: hidden;
    height: 175px;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 120px;
    gap: 20px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  margin-top: 40px;
}

.submit-button {
    background-color: #2966CB;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.reset-button {
    background-color: #bebebe;
    color: #333;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer {
  background-color: #2966CB; /* Warna biru seperti pada gambar */
  color: white;
  padding: 40px 20px;
  text-align: center;
  max-width: 100rem;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.logo-kostin {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 100px;
}

.logo-kostin img {
  width: 200px;
  height: 200px;
}

.footer-nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-right: 100px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.3s;
}

.footer-nav a:hover {
  opacity: 0.8;
}

.footer-bottom {
  margin-top: 60px;
  font-size: 14px;
  margin-bottom: 40px;
}