body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(196,196,196);
    background: #fff;
  }

* {
    font-family: Poppins;
}

  .container {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }

  .title {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 2px;
    display: flex;
    align-items: flex-start;

  }
   .subtitle{
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    align-items: flex-start;

   }
  .logo{
    width: 60px;
    display: flex;
    align-items: flex-start;
  }
  .logo1 {
    width: 10px;
    margin-right: 10px;
  }
  h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  .input-group {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 20px 0;
    border: 1.25px solid #ccc;
    height: 4vh;
}

.input-group:hover{
  border: 1.25px solid #7d7d7d;
  transition-duration: 0.25s;
}
  .logo2 {
    width: 12px;
    margin-right: 8px;
  }
  input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    font-family: Poppins;
    font-size: 13px;
  }
  .submit-btn {
    background: #2966CB;
    color: white;
    padding: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    height: 51.29px;
  }

  .submit-btn:hover{
    background-color: #1c53b2;
    transition-duration: 0.5s;
  }

  .haveacc-text{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  a {
    color: #4B5563;
    text-decoration: none;
  }

.password-group {
  position: relative;
}

.password-group .eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
  cursor: pointer;
}
