* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    height: 40px;
    width: auto;
    justify-content: start;
    margin-right: 40px;
}
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    background: white;
    position: relative;
    top: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.user-icon{
background: none;
border: none;
cursor: pointer;
display: flex;
align-items: center;
border-radius: 50%;
}
.user-icon:hover{
background: #ededed;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    gap: 52px;
    font-size: 16px;
    list-style-type: none;
    margin-right: 20px;
    justify-content: start;
    margin-left: 0px;

}

.nav-links a{
    color: #333;
    list-style-type: none;
    text-decoration: none;
    font-weight: lighter;

}

  .user-icon img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: end;
    align-items: end;
  }

/* Profile */
.container-profile {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container-kiri,
.container-kanan {
  padding: 20px; 
  height: 100vh;
}

.container-kiri {
  width: 30%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.container-kiri a{
    color: black;
  text-decoration: none;
}
.profil{
    margin-bottom: 33px;
}

.container-kanan {
  border-right: 1px solid #e0e0e0;
  flex:1;
  width: 100%;
}

.judul-container-kanan{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
}

.edit-profile{
    text-decoration: none;
}

.Edit{
  color: #2966CB;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  padding: 0px 15px;
  border: 1px solid #2966CB;
}
.Edit:hover{
  border: 2px solid #2966CB;
  font-weight: 500;

}


.list-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
}

.foto-profile{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.card{
    display: flex;
    gap: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    width: 235px;
    margin-top: 30px;
}

.card:hover {
  transform: translateY(-8px) scale(1.02); /* efek melayang & membesar */
  background-color: #ffffff;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* bayangan lebih tajam */
  cursor: pointer;
}
#biography{
     display: flex;
    letter-spacing: 2px;
    margin-left: 10px;
    padding: 0;
    margin-top: 20px;
    margin-right: 100px;
}

.profil-nama{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}


.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  margin-right: 100px;
}

.logout {
  text-decoration: none;
  color: rgb(255, 0, 51);
  font-weight: 500;
}

.keluar{
  color: rgb(255, 0, 51);
}

.card-kos-saya{
    display: flex;
    gap: 10px;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-right: 100px;
}

.actions-kos-saya{
  display: flex;
  flex-direction: row;
  gap: 40px;
  cursor: pointer;
  text-decoration: none;

}
.actions-kos-saya a{
  text-decoration: none;

}

.lihat{
color: #000;

}

.edit{
color:#2966CB;
}

.hapus{
color:rgb(255, 0, 51);
}